/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#Jugar, #infoButton, #backToPrincipal {
    -fx-background-color: 
        #E8F7F7,
        linear-gradient(#E8F7F7 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#footer{
  -fx-background:black;
  -fx-color:white;
  -fx-font-weight:bold;
  
  -fx-font-size:18px;
  -fx-text-alignment:center;
  -fx-background-image:url(http://rs257.pbsrc.com/albums/hh234/tfm448/Snow411.gif~c200)

}

#header{
	
}

#d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8, #d9, #d10, #d11, #d12, #d13, #d14, #d15, #d16, #d17, #d18, #d19, #d20, #d21, #d22, #d23, #d24, #d25, #d26, #d27, #d28, #d29, #d30, #d31, #d32, #d33, #d34, #d35, #d36, #d37, #d38, #d39, #d40, #d41, #d42, #d43, #d44, #d45, #d46, #d47, #d48, #d49{
	-fx-stroke: #999999;
}